@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 65px;
  background: #20d994;
  text-transform: uppercase;
  font-weight: 700;
  color: #fafafa;
  border: 0;
  outline-style: solid #000;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
input {
  border: 0;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}
