.container {
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-weight: bold;
  padding-left: 1rem;
  line-height: 40px;
  z-index: 2;
  position: relative;
}
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  justify-content: center;
}
.heroImage {
  position: absolute;
  z-index: 1;
  width: 220px;
  height: 362px;
  right: 0;
}
.adressBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 3;
}
.input {
  max-width: 300px;
  min-width: 270px;
  height: 54px;
  border: 1px solid #f2f2f3;
  box-sizing: border-box;
  border-radius: 4px;
  background: url(/icons/map-pin.png) no-repeat;
  background-size: 20px;
  background-position-y: center;
  padding-left: 25px;
  background-color: #fafafa;
}
.adressPick {
  height: 54px;
  background-color: #20d994;
  border-radius: 0px 4px 4px 0px;
}
.h2 {
  padding: 0.6rem;
  margin: 0;
  font-size: 24px;
}
.popularSlider {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  height: 160px;
  overflow-x: scroll;
  font-size: 12px;
}
.popularImage {
  flex-shrink: 0;
  width: 30%;
  height: 120px;
  padding: 10px;
}
.popularImage p {
  margin: 0;
  padding-top: 5px;
}
.popularImage img {
  width: 100%;
  border-radius: 10px;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin-bottom: 1rem;
  width: 100%;
  height: 250px;
  text-align: left;
  text-decoration: none;
  background-color: #fff;
  border: 1px #c4c4c4 solid;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.card p {
  padding-left: 10px;
  padding-right: 10px;
}

.card:hover,
.card:focus,
.card:active {
  color: #20d994;
  border-color: #20d994;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  width: 75px;
  height: 73px;
  margin: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
